CANNISTER_ID_MAIN='http://u6s2n-gx777-77774-qaaba-cai.localhost:8000/?id=uxrrr-q7777-77774-qaaaq-cai'
CANNISTER_ID_IDENTITY='http://u6s2n-gx777-77774-qaaba-cai.localhost:8000/?id=rdmx6-jaaaa-aaaaa-aaadq-cai'
